.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #333;
    height: 15vh;
    margin-top: 2em;
    border-top: .3rem solid #111;
    color: #fff;
}

.footer span{
    font-weight: bold;
}