* {
    font-family: Helvetica;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 62.5%;
}

.main-container{
    min-height: 82vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

body::-webkit-scrollbar {
    width: 1.5rem;               /* width of the entire scrollbar */
}
  
body::-webkit-scrollbar-track {
    background: rgba(0,0,0,0.5) ;        /* color of the tracking area */
}
  
body::-webkit-scrollbar-thumb {
    background-color: #fff;    /* color of the scroll thumb */
    border-radius: 3rem;       /* roundness of the scroll thumb */ 
}
