.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 3rem;
    margin-bottom: 2rem;
    background-color: #333;
    color: #fff;
    height: 8vh;
}

.logo{
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.logo h1{
    font-size: 2.5rem;
    margin-left: 1rem;
    cursor: pointer;
}

.link_items{
    display: flex;
    list-style: none;
}

.link_items li{
    margin-right: 1.3rem;
}

.link_items a{
    font-size: 1.5rem;
    color: #fff;
    text-decoration: none;
    padding: .5rem;
    transition: .4s;
    border-bottom: .2rem solid transparent;
}

.link_items a:hover{
    border-color: #fff;
}